@model List<Editor>
<h3>Lista Wydawców</h3>
<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Id</th>
            <th>Nazwa</th>
            <th colspan="3">Adres</th>
        </tr>
    </thead>
    @{int lp = 1;}
    @foreach(Editor editor in Model) { 
        <tr class="table-primary">
            <td>@lp</td>
            <td>@editor.Id</td>
            <td>@editor.Name</td>
            <td>@editor.Adress</td>
            <td><a asp-action="EditEditor" asp-route-id="@editor.Id" class="btn btn-warning">Edytuj</a></td>
            <td><a asp-action="DeleteEditor" asp-route-id="@editor.Id" class="btn btn-danger">Usuń</a></td>
        </tr>
        if(editor.Books.Count > 0) {
            <span class="editorBooks">
                <tr class="table-info" style="display: none;">
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data wydania</th>
                    <th colspan="2">Id wydawcy</th>
                </tr>
        
                @foreach(Book book in editor.Books) {
                    <tr class="table-secondary " style="display: none;">
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.PublishedDate</td>
                        <td colspan="2">@book.EditorId</td>
                    </tr>
                }
            </span>
        }
        lp++;
    }
</table>
<script>
    let books = document.querySelectorAll(".table-primary");
    books.forEach(book => {
        book.addEventListener("click", e => {
            let nextSibling = book.nextElementSibling;
            while(true) {
                if(nextSibling.classList.contains("table-secondary") || nextSibling.classList.contains("table-info")) {
                    if(nextSibling.style.display == "none")
                        nextSibling.style.display = "table-row";
                    else
                        nextSibling.style.display = "none";
                } else {
                    break;
                }
                nextSibling = nextSibling.nextElementSibling;
            }
        })
    })
</script>