@model List<Student>

<h1>Lista Studentów</h1>
<table>
    <tr>
        <th>Lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Operacje</th>
    </tr>
    @{int lp = 1;}
    @foreach(Student student in Model) {
        <tr>
            <td>@lp</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Age</td>
            <td><a asp-action="Delete" asp-route-id="@student.Id">Usuń</a></td>
        </tr>
        lp++;
    }
</table>
